In [1]:
import datetime
import calendar
import numpy as np
import pandas as pd
import random

## Orders Simulation

In [2]:
iso_day_dict = {'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4, 'Friday': 5,
                'Saturday': 6, 'Sunday': 7}
weighted_order_days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 
                       'Saturday', 'Friday', 'Saturday', 'Friday', 'Saturday', 
                       'Friday', 'Saturday', 'Friday', 'Saturday', 'Sunday']
weighted_drinks = [1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 3, 4, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 8, 9, 9, 10, 10, 11, 11, 11, 11,
                   12, 12, 13, 13, 13, 13, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15]
random_hour = [20, 20, 21, 21, 21, 21, 22, 22, 22, 22, 23, 23, 23]
random_minute = np.arange(1, 60, step=1).tolist()
random_week = np.arange(1, 53, step=1).tolist()

In [3]:
orders = []
iterator = 0
while iterator <= 10000:
    day = random.sample(weighted_order_days, 1)[0]
    iso_day = iso_day_dict[day]
    drink = random.sample(weighted_drinks, 1)[0]
    hour = random.sample(random_hour, 1)[0]
    time = random.sample(random_minute, 1)[0]
    week = random.sample(random_week, 1)[0]
    date = datetime.date.fromisocalendar(2021, week, iso_day)
    time = datetime.time(hour, week)
    order_time = datetime.datetime.combine(date, time)
    orders.append((order_time, drink))
    iterator += 1

In [4]:
drink_orders = pd.DataFrame(orders, columns=['Order Datetime', 'Drink'])
drink_orders = drink_orders.reset_index()
drink_orders = drink_orders.rename(columns={'index': 'ID'})
drink_orders

          ID      Order Datetime  Drink
0          0 2021-05-22 21:20:00      8
1          1 2021-02-27 21:08:00     13
2          2 2021-07-31 22:30:00     10
3          3 2021-12-18 20:50:00      3
4          4 2021-05-10 21:19:00      2
...      ...                 ...    ...
9996    9996 2021-10-09 21:40:00      3
9997    9997 2021-02-12 22:06:00      2
9998    9998 2021-12-25 23:51:00     13
9999    9999 2021-04-10 21:14:00      3
10000  10000 2021-01-22 23:03:00     15

[10001 rows x 3 columns]

In [12]:
drink_orders.to_csv('BatchData/Orders.csv')

## Completed Orders Simulation

In [9]:
bartender_dict = {1: int(random.sample(list(np.random.poisson(60, 10000)), 1)[0]),
                  2: random.uniform(70, 10),
                  3: random.gauss(60, 20), 
                  4: random.gauss(60, 10),
                  5: random.uniform(75, 35)}
bartenders = [1, 1, 1, 1, 2, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5]

In [10]:
completed_orders = []
for order in drink_orders.values.tolist():
    bartender = random.sample(bartenders, 1)[0]
    order_id = order[0]
    original_order_time = order[1]
    preparation_time = datetime.timedelta(seconds=bartender_dict[bartender])
    delivery_time = original_order_time + preparation_time
    completed_orders.append((order_id, bartender, delivery_time))

In [11]:
completed_drink_orders = pd.DataFrame(completed_orders, columns=['Order ID', 'Bartender', 'Completed Datetime'])
completed_drink_orders

       Order ID  Bartender         Completed Datetime
0             0          4 2021-05-22 21:21:12.590570
1             1          3 2021-02-27 21:09:33.158101
2             2          3 2021-07-31 22:31:33.158101
3             3          5 2021-12-18 20:51:01.495353
4             4          1 2021-05-10 21:20:05.000000
...         ...        ...                        ...
9996       9996          1 2021-10-09 21:41:05.000000
9997       9997          5 2021-02-12 22:07:01.495353
9998       9998          1 2021-12-25 23:52:05.000000
9999       9999          3 2021-04-10 21:15:33.158101
10000     10000          4 2021-01-22 23:04:12.590570

[10001 rows x 3 columns]

In [13]:
completed_drink_orders.to_csv('BatchData/CompletedOrders.csv')